@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                <div class="btn">
                    <button type="button" class="btn-link btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Bienvenido @User.Identity.GetUserName() <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">@Html.ActionLink("Administración", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Administración" })</a></li>
                        <li><a href="#">@Html.ActionLink("Operaciones financieras", "Index", "Wallets", routeValues: null, htmlAttributes: new { title = "Operaciones financieras" })</a></li>
                        <li><a href="#">@Html.ActionLink("Nueva Subasta", "Create", "Auctions", routeValues: null, htmlAttributes: new { title = "Nueva Subasta" })</a></li>
                        <li><a href="#">@Html.ActionLink("Mis Subastas", "MyAuctions", "Auctions", routeValues: null, htmlAttributes: new { title = "Mis Subastas" })</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Salir</a></li>
                    </ul>
                </div>
            </li>
            
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Registro", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
